<mat-sidenav-container fullscreen>
  <mat-sidenav opened disableClose mode="side">
    <app-channels-list
      [channels$]="channelsToDisplay$"
      (connectToChannel)="connectToChannel()"
      (createChannel)="createChannel()"
      (channelSelected)="handleChannelSelected($event)">
    </app-channels-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-channel *ngIf="selectedChannel"
                 (messageSent)="handleMessageSent($event)"
                 [messages]="messagesToDisplay$ | async"
                 [connected]="connected$ | async"
                 [selectedChannel]="selectedChannel"></app-channel>
    <app-no-channel *ngIf="!selectedChannel"
                    (connectToChannel)="connectToChannel()"
                    (createChannel)="createChannel()"></app-no-channel>
  </mat-sidenav-content>
</mat-sidenav-container>
