<div *ngIf="error">
  <p class="error">{{error}}</p>
</div>
<div *ngIf="!inChannel">
  <label for="channelName">Channel name</label>
  <input id="channelName" [(ngModel)]="channelName" type="text"/>
  <br>
  <button (click)="connect()" [disabled]="!channelName">Connect</button>
  <button (click)="create()" [disabled]="!channelName">Create</button>
</div>
<div *ngIf="inChannel">
  <label for="message">Message</label>
  <input id="message" [(ngModel)]="message" type="text" [disabled]="!connected">
  <button (click)="sendMessage()" [disabled]="!connected">Send</button>
  <p *ngFor="let line of lines" [innerHTML]="line.text | linkify">
  </p>
</div>
