<div class="container" (click)="messageInput.focus()" (keyup.enter)="sendMessage()">
  <div class="messages">
    <div *ngFor="let msg of messages" class="message" [ngClass]="getType(msg)" [innerHTML]="msg.content | linkify"></div>
  </div>
  <mat-divider></mat-divider>
  <div class="newMessageArea">
    <input #messageInput matInput placeholder="Enter message" title="Message" [disabled]="!connected" [ngModel]="drafts.get(selectedChannel)" (ngModelChange)="drafts.set(selectedChannel, $event)">
    <button mat-stroked-button [disabled]="!connected || !drafts.get(selectedChannel)" color="primary" (click)="sendMessage()">Send</button>
  </div>
</div>
